
@media screen and (min-width:  1024px){
    .section-B-goodMill-1{
        display: flex;
        justify-content: center;
        align-content: center;

    }

    .section-B-title-text-goodMill-1{

        font-family: var(--c_font-Montserrat) ;
        font-size:25px ;
        color: var(--c-green-middle-light);
        letter-spacing: 5px;
        word-spacing: 10px;
    }
}
@media screen and (min-width:  640px) and (max-width: 1023px) {
    .section-B-goodMill-1{
        display: flex;
        justify-content: center;
        align-content: center;

    }

    .section-B-title-text-goodMill-1{

        font-family: var(--c_font-Montserrat) ;
        font-size:25px ;
        color: var(--c-green-middle-light);
        letter-spacing: 5px;
        word-spacing: 10px;
    }
}
@media screen and (max-width: 639px){

    .section-B-goodMill-1{
        display: flex;
        justify-content: center;
        align-content: center;

    }

    .section-B-title-text-goodMill-1{

        font-family: var(--c_font-Montserrat) ;
        font-size:25px ;
        color: var(--c-green-middle-light);
        letter-spacing: 5px;
        word-spacing: 10px;
        text-align: center;
    }
}


