/*--------------------------------Section-C-----------------------------------------*/
@media screen and (min-width:  1024px){
    .background-section-C-uniForm{
        background: var(--c_color-white);
        background-position: center;
        background-repeat: no-repeat;
        min-height: 550px;
        background-size: cover;
        position: relative;
        z-index: 100;
    }
    .background-section-C-uniForm-1{

    }
    .section-C-img-1 {
        height:50px;
        transform: scale(-1, 1);
        position: absolute;
        margin-top: 197px;
        margin-left: 500px;

    }
    .section-C-img-2{
        height: 402px;
        position: absolute;
        margin-left: 150px;
    }
    .section-C-description-text-a{
        position: absolute;
        margin-left: 770px;
        margin-top: 197px;

    }
    .section-C-description-text-b{
        position: absolute;
        margin-left: 870px;
        margin-top: 225px;
    }
}
@media screen and (min-width:  640px) and (max-width: 1023px) {
}
@media screen and (max-width: 639px){
}