/*--------------------------------Section-E-----------------------------------------*/
@media screen and (min-width:  1024px){

    .revers_obj_1{
        order: 1;
    }
    .revers_obj_2{
        order: 2;
    }
    .background-section-E-uniForm {
        background-color: var(--c_green-middle--light);
        height: 445px;
        display: flex;
        opacity: .8;
    }
    .section-E-uniForm-1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-E-uniForm-2{
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .section-E-title-text-uniform {
        color: var(--c-white);
        font-family: var(--c_font-Montserrat);
        font-size: 25px;
        text-align: start;
    }
    .section-E-description-uniform {
        color: var(--c-white);
        font-family: var(--c_font-Montserrat);
        font-size: 16px;
    }


}
@media screen and (min-width:  640px) and (max-width: 1023px) {

    .revers_obj_1{
        order: 2;
    }
    .revers_obj_2{
        order: 1;
    }
    .cms-row-mobile-devises{
        flex-direction: column;
    }
    .background-section-E-uniForm {
        background-color: var(--c_green-middle--light);
        height: 100%;
        display: flex;
        justify-content: center;
        opacity: .8;
    }
.section-E-uniForm-img-1{
        width: 90%;
    }
    .section-E-uniForm-1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-E-uniForm-2{
        display: flex;
        align-items: center;
    }
    .section-E-title-text-uniform {
        color: var(--c-white);
        font-family: var(--c_font-Montserrat);
        font-size: 25px;
        text-align: center;
    }
    .section-E-description-uniform {
        color: var(--c-white);
        font-family: var(--c_font-Montserrat);
        font-size: 16px;
    }
}
@media screen and (max-width: 639px){
    .revers_obj_1{
        order: 2;
    }
    .revers_obj_2{
        order: 1;
    }
    .cms-row-mobile-devises{
        flex-direction: column;
    }
    .background-section-E-uniForm {
        background-color: var(--c_green-middle--light);
        height: 100%;
        display: flex;
        opacity: .8;
    }
    .section-E-uniForm-img-1{
        width: 60%;
        display: flex;
        align-items: center;
    }
    .section-E-uniForm-2{
        display: flex;
        align-items: center;
    }


    .section-E-title-text-uniform {
        color: var(--c-white);
        font-family: var(--c_font-Montserrat);
        font-size: 25px;
        text-align: start;
    }
    .section-E-description-uniform {
        color: var(--c-white);
        font-family: var(--c_font-Montserrat);
        font-size: 16px;
        text-wrap: normal;
        margin: 20px auto 20px 20px;

    }
}