/*--------------------------------Section-D-----------------------------------------*/
@media screen and (min-width:  1024px){

.background-section-D-uniForm {
    background-color: var(--c_green-middle--light);
    height: 466px;
    display: flex;
}
.section-D-uniForm-1{
    display: flex;
    justify-content: center;
    align-items: start;
}
.section-D-uniForm-2{
    display: flex;
    justify-content: center;
    align-items: start;
}
.section-D-title-text-uniform {
    color: var(--c-white);
    font-family: var(--c_font-Montserrat);
    font-size: 25px;
    text-align: start;
}
.section-D-description-uniform {
    color: var(--c-white);
    font-family: var(--c_font-Montserrat);
    font-size: 16px;
    }
}
@media screen and (min-width:  640px) and (max-width: 1023px) {
    .cms-row-mobile-devises{
        flex-direction: column;
    }
    .background-section-D-uniForm {
        background-color: var(--c_green-middle--light);
        height: 766px;
        display: flex;
    }

    .section-D-uniForm-img-1 {
        width: 80%;

    }
    .section-D-uniForm-1{
      display: flex;
        align-items: center;
    }
    .section-D-uniForm-2{
        display: flex;
        align-items: center;
    }
    .section-D-title-text-uniform {
        color: var(--c-white);
        font-family: var(--c_font-Montserrat);
        font-size: 25px;
        text-align: center;
        margin-left: 10px;
    }
    .section-D-description-uniform {
        color: var(--c-white);
        font-family: var(--c_font-Montserrat);
        font-size: 16px;


    }
}
@media screen and (max-width: 639px){

    .cms-row-mobile-devises{
        flex-direction: column;
    }
    .background-section-D-uniForm {
        background-color: var(--c_green-middle--light);
        height: 100%;

    }
    .section-D-uniForm-img-1{
        width: 60%;

}
    .section-D-uniForm-1{
        display: flex;
        align-items: center;
    }
    .section-D-uniForm-2{
        display: flex;
        align-items: center;
    }

    .section-D-title-text-uniform {
        color: var(--c-white);
        font-family: var(--c_font-Montserrat);
        font-size: 25px;
        text-align: center;
    }
    .section-D-description-uniform {
        color: var(--c-white);
        font-family: var(--c_font-Montserrat);
        font-size: 16px;
        text-wrap: normal;
        margin: 20px auto 20px 20px;
    }
}