/*--------------------------------Section-C-----------------------------------------*/
@media screen and (min-width:  1024px){
    .background-section-C-uniForm{
        background: var(--c_color-white);
        background-position: center;
        background-repeat: no-repeat;
        min-height: 550px;
        background-size: cover;
        position: relative;
        z-index: 100;
    }
    .background-section-C-uniForm-1{

    }
    .section-C-img-1 {
        height:50px;
        transform: scale(-1, 1);
        position: absolute;
        margin-top: 197px;
        margin-left: 500px;

    }
    .section-C-img-2{
        height: 402px;
        position: absolute;
        margin-left: 150px;
    }
    .section-C-description-text-a{
        position: absolute;
        margin-left: 660px;
        margin-top: 151px;
        font-size: 47px;
        color: var(--c-letter-green-grey);
        font-family: var(--c-Loved-by-the-King);

    }
    .section-C-description-text-b{
        position: absolute;
        margin-left: 763px;
        margin-top: 206px;
        font-size: 47px;
        color: var(--c-letter-green-grey);
        font-family: var(--c-Loved-by-the-King);
    }
}
@media screen and (min-width:  640px) and (max-width: 1023px) {
    .background-section-C-uniForm{
        background: var(--c_color-white);
        background-position: center;
        background-repeat: no-repeat;
        min-height: 550px;
        background-size: cover;
        position: relative;
        z-index: 100;
    }
    .background-section-C-uniForm-1{
    }
    .section-C-img-1 {
        width: 120px;
        transform: scale(-1, 1);
        position: absolute;
        margin-top: 118px;
        margin-left: 300px;

    }
    .section-C-img-2{
        height: 302px;
        position: absolute;
        margin-left: 50px;
    }
    .section-C-description-text-a{
        position: absolute;
        margin-left: 358px;
        margin-top: 82px;
        font-size: 37px;
        color: var(--c-letter-green-grey);
        font-family: var(--c-Loved-by-the-King);

    }
    .section-C-description-text-b{
        position: absolute;
        margin-left: 400px;
        margin-top: 133px;
        font-size: 37px;
        color: var(--c-letter-green-grey);
        font-family: var(--c-Loved-by-the-King);
    }
}
@media screen and (max-width: 639px){
    .background-section-C-uniForm{
        background: var(--c_color-white);
        background-position: center;
        background-repeat: no-repeat;
        min-height: 350px;
        background-size: cover;
        position: relative;
        z-index: 100;
    }
    .background-section-C-uniForm-1{
    }
    .section-C-img-1 {
        width: 90px;
        transform: scale(-1, 1);
        position: absolute;
        margin-top: 95px;
        margin-left: 214px;

    }
    .section-C-img-2{
        height: 202px;
        position: absolute;
        margin-left: 50px;
    }
    .section-C-description-text-a{
        position: absolute;
        margin-left: 267px;
        margin-top: 82px;
        font-size: 16px;
        color: var(--c-letter-green-grey);
        font-family: var(--c-Loved-by-the-King);

    }
    .section-C-description-text-b{
        position: absolute;
        margin-left: 268px;
        margin-top: 115px;
        font-size: 16px;
        color: var(--c-letter-green-grey);
        font-family: var(--c-Loved-by-the-King);
    }
}