/*--------------------------------Section-D-----------------------------------------*/
@media screen and (min-width:  1024px){
    .revers_obj_1{
        order: 1;
    }
    .revers_obj_2{
        order: 2;
    }
    .background-section-G-uniForm {
        background-color: var(--c_green-middle--light);
        height: 470px;
        display: flex;
        opacity: .8;
    }
    .section-G-uniForm-1{
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .section-G-uniForm-2{
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .section-G-title-text-uniform {
        color: var(--c-white);
        font-family: var(--c_font-Montserrat);
        font-size: 25px;
        text-align: start;
    }
    .section-G-description-uniform {
        color: var(--c-white);
        font-family: var(--c_font-Montserrat);
        font-size: 16px;
    }
}
@media screen and (min-width:  640px) and (max-width: 1023px) {
    .revers_obj_1{
        order: 2;
    }
    .revers_obj_2{
        order: 1;
    }
    .cms-row-mobile-devises{
        flex-direction: column;
    }
    .background-section-G-uniForm {
        background-color: var(--c_green-middle--light);
        height: 650px;
        display: flex;
        opacity: .8;
    }
    .section-G-uniForm-1{
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .section-G-uniForm-2{
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .section-G-title-text-uniform {
        color: var(--c-white);
        font-family: var(--c_font-Montserrat);
        font-size: 25px;
        text-align: start;
        margin-left: 10px;
    }
    .section-G-description-uniform {
        color: var(--c-white);
        font-family: var(--c_font-Montserrat);
        font-size: 16px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 639px){
    .revers_obj_1{
        order: 2;
    }
    .revers_obj_2{
        order: 1;
    }
    .cms-row-mobile-devises{
        flex-direction: column;
    }
    .background-section-G-uniForm {
        background-color: var(--c_green-middle--light);
        height: 650px;
        display: flex;
        opacity: .8;
    }
    .section-G-uniForm-img-1{

    }
    .section-G-uniForm-1{
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .section-G-uniForm-2{
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .section-G-title-text-uniform {
        color: var(--c-white);
        font-family: var(--c_font-Montserrat);
        font-size: 25px;
        text-align: start;
        margin-left: 10px;
    }
    .section-G-description-uniform {
        color: var(--c-white);
        font-family: var(--c_font-Montserrat);
        font-size: 13px;
    }
}