/*--------------------------------Section-A-----------------------------------------*/
@media screen and (min-width:  1024px){
}
@media screen and (min-width:  640px) and (max-width: 1023px) {
}
@media screen and (max-width: 639px){
}