/*--------------------------------Section-D-----------------------------------------*/
@media screen and (min-width:  1024px){

    .background-section-F-uniForm {
        background-color: var(--c_green-middle--light);
        height: 516px;
        display: flex;
    }
    .section-F-uniForm-1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-F-uniForm-2{
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .section-F-title-text-uniform {
        color: var(--c-white);
        font-family: var(--c_font-Montserrat);
        font-size: 25px;
        text-align: start;
    }
    .section-F-description-uniform {
        color: var(--c-white);
        font-family: var(--c_font-Montserrat);
        font-size: 16px;
    }
}
@media screen and (min-width:  640px) and (max-width: 1023px) {
    .cms-row-mobile-devises{
        flex-direction: column;
    }
    .background-section-F-uniForm {
        background-color: var(--c_green-middle--light);
        height: 800px;
        display: flex;
    }
    .section-F-uniForm-1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-F-uniForm-2{
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .section-F-title-text-uniform {
        color: var(--c-white);
        font-family: var(--c_font-Montserrat);
        font-size: 25px;
        text-align: start;
    }
    .section-F-description-uniform {
        color: var(--c-white);
        font-family: var(--c_font-Montserrat);
        font-size: 16px;
    }
}
@media screen and (max-width: 639px){
    .cms-row-mobile-devises{
        flex-direction: column;
    }
    .background-section-F-uniForm {
        background-color: var(--c_green-middle--light);
        height: 800px;
        display: flex;
    }
    .section-F-uniForm-img-1{

    }
    .section-F-uniForm-1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-F-uniForm-2{
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .section-F-title-text-uniform {
        color: var(--c-white);
        font-family: var(--c_font-Montserrat);
        font-size: 25px;
        text-align: start;
    }
    .section-F-description-uniform {
        color: var(--c-white);
        font-family: var(--c_font-Montserrat);
        font-size: 13px;
    }
}