@media screen and (min-width:  1024px){

.background-section-L-uniForm{
    display: flex;
    background-color: #FFFFFF;
}
    .section-L-uniform-img-1{
        justify-content: center;
        align-content: center;
        width: 982px;
    }
}
@media screen and (min-width:  640px) and (max-width: 1023px) {

    .background-section-L-uniForm{
        display: flex;
        background-color: #FFFFFF;
    }
    .section-L-uniform-img-1{
        justify-content: center;
        align-content: center;
        width: 582px;
    }
}
@media screen and (max-width: 639px){
    .background-section-L-uniForm{
        display: flex;
        background-color: #FFFFFF;
    }
    .section-L-uniform-img-1{
        justify-content: center;
        align-content: center;
        width: 382px;
    }
}