@media screen and (min-width:  1024px){
    .background-section-N-uniForm{
        background-image: url(../../page/uniform/media/1b34bb_ad4b79b474d147c0bb715282891a67d8_mv2.webp);
        height: 664px;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }
}
@media screen and (min-width:  640px) and (max-width: 1023px) {
    .background-section-N-uniForm{
        background-image: url(../../page/uniform/media/1b34bb_ad4b79b474d147c0bb715282891a67d8_mv2.webp);
        height: 664px;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }
}
@media screen and (max-width: 639px){
    .background-section-N-uniForm{
        background-image: url(../../page/uniform/media/back_mobile.png);
        height: 664px;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }
}
