@media screen and (min-width:  1024px){
    .revers_obj_1{
        order: 1;
    }
    .revers_obj_2{
        order: 2;
    }



.background-section-M-uniForm{
    height: 724px;
    background-color: #FFFFFF;
    display: flex;
}
    .background-section-M-uniForm-1{
        height: 469px;
        width: 328px;
        justify-content: center;
        align-content: center;
    }

    .section-M-title-text-uniform-1{
display: none;
    }
    .section-M-title-text-uniform-2{
        font-family: var(--c_font-Montserrat);
        font-size: 45px;
        color: var(--c-green-middle-light);
    }


    .section-M-description-text-uniform{
        font-family: var(--c_font-Montserrat);
        font-size: 16px;
        color: var(--c-green-middle-light);
    }
}
@media screen and (min-width:  640px) and (max-width: 1023px) {

    .background-section-M-uniForm{
        height: 100%;
        background-color: #FFFFFF;
        display: flex;

    }
    .background-section-M-uniForm-1{
        flex-direction: column;
        align-items: center;
    }
    .img{
        height: 369px;
        width: 228px;
    }

    .section-M-title-text-uniform-1{
        font-family: var(--c_font-Montserrat);
        font-size: 45px;
        color: var(--c-green-middle-light);

    }
    .section-M-title-text-uniform-2{
        display: none;
    }

    .section-M-description-text-uniform{
        font-family: var(--c_font-Montserrat);
        font-size: 16px;
        color: var(--c-green-middle-light);
    }
}
@media screen and (max-width: 639px){
    .background-section-M-uniForm{
        height: 100%;
        background-color: #FFFFFF;
        display: flex;

    }
    .background-section-M-uniForm-1{
        flex-direction: column;
        text-align: center;

    }
    .img{
        height: 369px;
        width: 228px;
    }

    .section-M-title-text-uniform-1{
        font-family: var(--c_font-Montserrat);
        font-size: 35px;
        color: var(--c-green-middle-light);

    }
    .section-M-title-text-uniform-2{
        display: none;

    }
    .img{
        height: 269px;
        width: 200px;
        margin-left: 100px;
    }
    .section-M-title-text-uniform{
        font-family: var(--c_font-Montserrat);
        font-size: 35px;
        color: var(--c-green-middle-light);
        margin-left: 10px;
    }
    .section-M-description-text-uniform{
        font-family: var(--c_font-Montserrat);
        font-size: 16px;
        color: var(--c-green-middle-light);
        argin-left: 10px;
    }
}