
.gb-landing-container {
    font-family: var(--c-Montserrat);
}

/*------------------------Extra large screens, TV-----------------------------------*/
@media screen and (min-width:  1201px){

/*--------------------------------Section-A-----------------------------------------*/

    .cms-50-xlarge-screens{
        flex: .5;
    }

    .section-A-img{
        max-height: 640px;
        width: 100%;
    }

    .section-A-title-text {
        font-size: 80px;
        margin: 1%;
        color: var(--c-green-dark);

    }
    .section-A-description-text{
        font-size: 25px;
        margin: 1%;
        color: var(--c-green-dark);
    }

    .section-A-background{
        background-image: url(../media/baum_edited.png);
        background-position: right center;
        background-repeat: no-repeat;
        background-size: contain;
    }

/*****************slider******************/

    .slider-box-general{
        margin-top: 2%;
        margin-left: 1%
    }

    .slider-img{
        width: 100%;
    }
    .slider-title-text{
        padding: 5%;
        max-height: 30px;
    }
    .slider-description-text{
        padding: 5%;
        color: var(--c-green-dark);

    }
    .slider-title-text-logo-parts{
        padding: 5%;
        max-height: 40px;
    }
/*--------------------------------Section-B-----------------------------------------*/
.background-section-B{
    background-image: url(../media/staff_girl.webp);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
    background-size:cover;
}
.section-B-title-text{
    font-size: 45px;
    color: var(--c-white);
    margin-left: 5%;

}
.section-B-description-text{
    font-size: 20px;
    color: var(--c-white);
    margin-left: 5%;

}
    /*****************button******************/

    .buttonBox-section-B{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3%;
    }
    .button-section-B{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        /*color: var(--c_color-white);*/
        /*background-color: var(--c-green-dark);*/
        /*height: 64px;*/
        /*width: 187px;*/
        /*border-radius: 4px;*/
    }

    /*.button-section-B:hover{*/
    /*    box-shadow: 5px 5px 15px #1d1f22;*/
    /*    color: var(--c-white);*/
    /*}*/
/*--------------------------------Section-C-----------------------------------------*/

    .section-C{
        text-align: left;
        margin-top: 15%;
        padding: 0 18% 0 0%;
    }
    .background-section-C{
        background-image: url(../media/backgroundtreepack.webp);
        background-position: center;
        background-repeat: no-repeat;
        min-height: 750px;
        background-size:cover;
    }
    .section-C-title-text {
        width: 394px
    }
    .section-C-description-text{
        font-size: 20px;
        color: var(--c-green-dark);
        margin-left: 5%;
    }
    /*****************button******************/

    .buttonBox-section-C{
        display: flex;
        align-items: start;
        margin-left: 8%;
    }

    .button-section-C{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        /*color: var(--c_color-white);*/
        /*background-color: var(--c-green-dark);*/
        /*height: 64px;*/
        /*width: 187px;*/


    }
    /*.button-section-C:hover{*/
    /*    box-shadow: 5px 5px 15px #1d1f22;*/
    /*}*/
/*--------------------------------Section-D-----------------------------------------*/

    .section-D{
        text-align: left;
        margin-top: 15%;
        padding: 0 18% 0 0%;
    }
    .background-section-D{
        margin-top: 5%;
        background-image: url(../media/grey.webp);
        background-position: center;
        background-repeat: no-repeat;
        min-height: 650px;
        background-size:cover;
    }
    .section-D-title-text{
        font-size: 30px;
        color: var(--c-white);
        margin-left: 10%;

    }
    .section-D-description-text{
        font-size: 16px;
        color: var(--c-white);
        margin-left: 10%;
    }

/*****************button******************/

    .buttonBox-section-D{
        display: flex;
        align-items: start;
        margin-left: 8%;
    }
    .button-section-D{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        /*color: var(--c_color-white);*/
        /*background-color: var(--c-green-dark);*/
        /*height: 64px;*/
        /*width: 187px;*/
    }
    /*.button-section-D:hover{*/
    /*    box-shadow: 5px 5px 15px #1d1f22;*/
    /*}*/
/*--------------------------------Section-E-----------------------------------------*/

    .section-E{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .background-section-E {
        margin-top: 5%;
        background-image: url(../media/girs_communicate.webp);
        background-position: center;
        background-repeat: no-repeat;
        min-height: 650px;
        background-size: cover;
    }
    .section-E-title-text{
        width: 476px;
        margin-left: 5%;
        margin-top: 8%;

    }
    .section-E-description-text{
        font-size: 45px;
        color: var(--c-white);
        margin-left: 5%;

    }
    /*****************button******************/

    .buttonBox-section-E{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 3%;
    }
    .button-section-E{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        /*color: var(--c-grey-dark);*/
        /*background-color: var(--c-white);*/
        /*height: 64px;*/
        /*width: 187px;*/
        /*border-radius: 4px;*/



    }
    /*.button-section-E:hover{*/
    /*    box-shadow: 5px 5px 15px #1d1f22;*/
    /*}*/
/*--------------------------------Section-F-----------------------------------------*/

.cms-row-xlarge-screens{
    display: flex;
    flex-direction: row;
}
    .section-F-general-box{
        margin-top: -7%;
    }
    .section-F-background-img {
        text-align: center;
        align-content: center;
        max-width: 300px;
        margin-left: 20%
    }

    .section-F-img-a{
        height:200px;
        width: 80%;
        margin-left: 20%
    }
    .section-F-img-b{
        height:200px;
        width: 80%;
        margin-left: 1%
    }
    .section-F-img-c{
        height:200px;
        width: 80%;
        margin-left: 20%;

    }
    .section-F-img-d{
        height:200px;
        width: 80%;
        margin-left: 1%;
    }
    .section-F-strip{
        height: 4px;
        width: 153px;
        border-radius: 5px;
        margin-left: 25%;
    }
    .section-F-title-text{
        font-size: 25px;
        text-align: center;
    }
    .section-F-description-text{
        padding: 2% 8% 0 8%;

    }
/*****************button******************/

    .buttonBox-section-F{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 3%;
    }
    .button-section-F{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        /*color: var(--c_color-white);*/
        /*background-color: var(--c-green-dark);*/
        height: 42px;
        width: 115px;
        margin-bottom: 15%;
    }

    /*.button-section-F:hover {*/
    /*    box-shadow: 5px 5px 15px #1d1f22;*/
    /*}*/
/*--------------------------------Section-E-----------------------------------------*/


    .section-E{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .background-section-E {
        margin-top: 5%;
        background-image: url(../media/girs_communicate.webp);
        background-position: center;
        background-repeat: no-repeat;
        min-height: 650px;
        background-size: cover;
    }
    .section-E-title-text{
        width: 476px;
        margin-left: 5%;
        margin-top: 8%;

    }
    .section-E-description-text{
        font-size: 45px;
        color: var(--c-white);
        margin-left: 5%;

    }
    /*****************button******************/

    .buttonBox-section-E{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 3%;
    }
    .button-section-E{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        /*color: var(--c_color-white);*/
        /*background-color: var(--c-green-dark);*/
        height: 64px;
        width: 187px;
        border-radius: 0;
    }
    /*.button-section-E:hover {*/
    /*    box-shadow: 5px 5px 15px #1d1f22;*/
    /*}*/
/*--------------------------------Section-G-----------------------------------------*/

    .background-section-G {
        margin-top: 5%;
        min-height: 450px;
        background-color: var(--c_green-light);
        position: relative;

    }

    .background-section-G-2 {
        margin-top: 0;
    }
    .section-G-title-text {
        min-width: 358px;

    }
    .section-G-description-text {
        font-size: 16px;
        color: var(--c_color-grey);
        padding: 30px 200px 80px 80px;

    }
    .section-G-img-1 {
        margin-top: 10px;
        width: 100%;

    }
/*****************button******************/
    .buttonBox-section-G {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 10%;
    }
    .button-section-G {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        /*color: var(--c_color-white);*/
        /*background-color: var(--c-green-dark);*/
        height: 64px;
        width: 187px;
        margin-left: 4%;
    }
    /*.button-section-G:hover {*/
    /*    box-shadow: 5px 5px 15px #1d1f22;*/
    /*}*/

/*--------------------------------Section-H-----------------------------------------*/

    .background-section-H {
        margin-top: 5%;
        min-height: 750px;
        background-color: var(--c-white);

    }
    .section-H-description-text {
        font-size: 16px;
        color: var(--c_color-grey);
        padding: 0 30% 0 15%;
        margin-top: 20%;
        margin-left: 5%;
    }
    .section-H-img-1 {
        min-width: 546px;
    }
    .section-H-img-2 {
        width: 604px;
    }


    .buttonBox-section-H{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 660px;

    }
    .button-section-H {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        /*color: var(--c_color-white);*/
        /*background-color: var(--c-green-dark);*/
        height: 64px;
        width: 187px;
        margin-left: 20%;
    }
    /*.button-section-H:hover {*/
    /*    box-shadow: 5px 5px 15px #1d1f22;*/
    /*}*/
/*--------------------------------Section-I-----------------------------------------*/

    .section-I{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .background-section-I {
        margin-top: 5%;
        background-image: url(../media/UNiForm/whater.webp);
        background-position: center;
        background-repeat: no-repeat;
        min-height: 550px;
        background-size: cover;
    }
    .background-section-I-1{
        background: var(--c-white);
        opacity: 0.8;
        min-height:280px;
        min-width: 257px;
        margin-top: 5%;
        padding: 5% 2% 5% 2%;
        margin-left: 10%;
    }
    .section-I-title-text{
        margin-left: 5%;
        color: var(--c-green-dark);
    }
    .section-I-description-text{
        font-size: 12px;
        color: var(--c-green-dark);
        margin-left: 5%;

    }
    /*****************button******************/

    .buttonBox-section-I{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 3%;
    }
    .button-section-I{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        /*color: var(--c_color-white);*/
        /*background-color: var(--c-green-dark);*/
        height: 64px;
        width: 187px;

    }
    /*.button-section-I:hover{*/
    /*    box-shadow: 5px 5px 15px #1d1f22;*/
    /*}*/
}
/*------------------------Desktops, large screens-----------------------------------*/
@media screen and (min-width:  1025px) and (max-width: 1200px) {

/*--------------------------------Section-A-----------------------------------------*/

    .section-A-background{
        background-image: url(../media/baum_edited.webp);
        background-position: center;
        background-repeat: no-repeat;
    }

    .cms-33-desktop-screens {
        flex: calc(1 / 3);
    }

    .cms-50-desktop-screens{
        flex: .5;
    }



    .cms-66-desktop-screens {
        flex: calc(2 / 3);
    }

    .section-A-img{
        max-height: 640px;
        width: 100%;
    }

    .section-A-title-text {
        font-size: 80px;
        margin: 1%;
        color: var(--c-green-dark);

    }
    .section-A-description-text{
        font-size: 25px;
        margin: 1%;
        color: var(--c-green-dark);
    }


/*****************slider******************/

    .slider-box-general{
        margin-top: 2%;
        margin-left: 1%
    }

    .slider-img{
        width: 100%;
    }
    .slider-title-text{
        padding: 5%;
        max-height: 30px;
    }
    .slider-description-text{
        padding: 5%;
        color: var(--c-green-dark);

    }
    .slider-title-text-logo-parts{
        padding: 5%;
        max-height: 40px;
    }
/*--------------------------------Section-B-----------------------------------------*/
    .background-section-B{
        background-image: url(../media/staff_girl.webp);
        background-position: center;
        background-repeat: no-repeat;
        min-height: 400px;
        background-size:cover;
    }
    .section-B-title-text{
        font-size: 30px;
        color: var(--c-white);
        margin-left: 5%;

    }
    .section-B-description-text{
        font-size: 20px;
        color: var(--c-white);
        margin-left: 5%;

    }
/*****************button******************/

    .buttonBox-section-B{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3%;
    }
    .button-section-B{
        display: inline-block;
        text-decoration: none;
        color: var(--c-white);
        background-color: var(--c-green-dark);
        height: 64px;
        width: 187px;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        trransition: all .3s ease-in-out;
    }
    .button-section-B:hover{
        box-shadow: 5px 5px 15px #1d1f22;
    }
/*--------------------------------Section-C-----------------------------------------*/
    .section-C{
        text-align: left;
        margin-top: 15%;
        padding: 0 18% 0 0%;
    }
    .background-section-C{
        background-image: url(../media/backgroundtreepack.webp);
        background-position: center;
        background-repeat: no-repeat;
        min-height: 750px;
        background-size:cover;
    }
    .section-C-title-text {
        width: 394px
    }
    .section-C-description-text{
        font-size: 20px;
        color: var(--c-green-dark);
        margin-left: 5%;
    }
    /*****************button******************/

    .buttonBox-section-C{
        display: flex;
        align-items: start;
        margin-left: 8%;
    }

    .button-section-C{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        /*color: var(--c-white);*/
        /*background-color: var(--c-green-dark);*/
        height: 64px;
        width: 187px;


    }
    /*.button-section-C:hover{*/
    /*    box-shadow: 5px 5px 15px #1d1f22;*/
    /*}*/
/*--------------------------------Section-D-----------------------------------------*/
    .section-D{
        text-align: left;
        margin-top: 15%;
        padding: 0 18% 0 0%;
    }
    .background-section-D{
        margin-top: 5%;
        background-image: url(../media/grey.webp);
        background-position: center;
        background-repeat: no-repeat;
        min-height: 650px;
        background-size:cover;
    }
    .section-D-title-text{
        font-size: 25px;
        color: var(--c-white);
        margin-left: 10%;

    }
    .section-D-description-text{
        font-size: 16px;
        color: var(--c-white);
        margin-left: 10%;
    }

    /*****************button******************/

    .buttonBox-section-D{
        display: flex;
        align-items: start;
        margin-left: 8%;
    }
    .button-section-D{
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        /*color: var(--c-white);*/
        /*background-color: var(--c-green-dark);*/
        height: 64px;
        width: 187px;

    }
    /*.button-section-D:hover{*/
    /*    box-shadow: 5px 5px 15px #1d1f22;*/
    /*}*/
/*--------------------------------Section-E-----------------------------------------*/
    .section-E{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .background-section-E {
        margin-top: 5%;
        background-image: url(../media/girs_communicate.webp);
        background-position: center;
        background-repeat: no-repeat;
        min-height: 650px;
        background-size: cover;
    }
    .section-E-title-text{
        width: 476px;
        margin-left: 5%;
        margin-top: 8%;

    }
    .section-E-description-text{
        font-size: 45px;
        color: var(--c-white);
        margin-left: 5%;

    }
    /*****************button******************/

    .buttonBox-section-E{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 3%;
    }
    .button-section-E{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        /*color: var(--c-white);*/
        /*background-color: var(--c-green-dark);*/
        height: 64px;
        width: 187px;




    }
    /*.button-section-E:hover{*/
    /*    box-shadow: 5px 5px 15px #1d1f22;*/
    /*}*/
/*--------------------------------Section-F-----------------------------------------*/

    .cms-section-F{
        display: flex;
        justify-content: center;
    }

    .cms-col-xlarge-screens {
        display: flex;
        flex-direction: column;
    }


    .section-F-general-box{
        margin-top: -7%;
        display: flex;
        justify-content: center;
    }
    .section-F-background-img {
        text-align: center;
        align-content: center;
        max-width: 300px;
        margin-left: 20%
    }

    .section-F-img-a{
        height:200px;
        width: 80%;
        margin-left: 20%
    }
    .section-F-img-b{
        height:200px;
        width: 80%;
        margin-left: 1%
    }
    .section-F-img-c{
        height:200px;
        width: 80%;
        margin-left: 20%;

    }
    .section-F-img-d{
        height:200px;
        width: 80%;
        margin-left: 1%;
    }
    .section-F-strip{
        height: 4px;
        width: 153px;
        border-radius: 5px;
        margin-left: 25%;
    }
    .section-F-title-text{
        font-size: 25px;
        text-align: center;
    }
    .section-F-description-text{
        padding: 2% 8% 0 8%;

    }
    /*****************button******************/

    .buttonBox-section-F{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 3%;
    }
    .button-section-F{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        /*color: var(--c-white);*/
        /*background-color: var(--c-green-dark);*/
        height: 42px;
        width: 115px;
        margin-bottom: 15%;
    }

    /*.button-section-F:hover{*/
    /*    box-shadow: 5px 5px 15px #1d1f22;*/
    /*}*/

/*--------------------------------Section-G-----------------------------------------*/
    .background-section-G {
        margin-top: 5%;
        min-height: 450px;
        background-color: var(--c_green-light);
        position: relative;

    }
    /*.background-section-G-1 {*/
    /*}*/
    .background-section-G-2 {
        margin-top: 0;
    }
    .section-G-title-text {
        min-width: 358px;

    }
    .section-G-description-text {
        font-size: 16px;
        color: var(--c_color-grey);
        padding: 30px 200px 80px 80px;

    }
    .section-G-img-1 {
        margin-top: 10px;
        width: 100%;

    }
    /*****************button******************/
    .buttonBox-section-G {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 10%;
    }
    .button-section-G {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        /*color: var(--c-white);*/
        /*background-color: var(--c-green-dark);*/
        height: 64px;
        width: 187px;
        margin-left: 10%;
    }
    /*.button-section-G:hover {*/
    /*    box-shadow: 5px 5px 15px #1d1f22;*/
    /*}*/

    /*--------------------------------Section-H-----------------------------------------*/

    .background-section-H {
        margin-top: 5%;
        min-height: 750px;
        background-color: var(--c-white);

    }
    .section-H-description-text {
        font-size: 16px;
        color: var(--c_color-grey);
        padding: 0 30% 0 15%;
        margin-top: 20%;
        margin-left: 5%;
    }
    .section-H-img-1 {
        min-width: 546px;
    }
    .section-H-img-2 {
        width: 604px;
    }


    .buttonBox-section-H{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 660px;

    }
    .button-section-H {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        /*color: var(--c-white);*/
        /*background-color: var(--c-green-dark);*/
        height: 64px;
        width: 187px;
        margin-left: 20%;
    }
    /*.button-section-H:hover {*/
    /*    box-shadow: 5px 5px 15px #1d1f22;*/
    /*}*/
/*--------------------------------Section-I-----------------------------------------*/

    .section-I{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .background-section-I {
        margin-top: 5%;
        background-image: url(../media/UNiForm/whater.webp);
        background-position: center;
        background-repeat: no-repeat;
        min-height: 550px;
        background-size: cover;
    }
    .background-section-I-1{
        background: var(--c-white);
        opacity: 0.8;
        min-height:280px;
        min-width: 257px;
        margin-top: 5%;
        padding: 5% 2% 5% 2%;
        margin-left: 10%;
    }
    .section-I-title-text{
        margin-left: 5%;
        color: var(--c-green-dark);
    }
    .section-I-description-text{
        font-size: 12px;
        color: var(--c-green-dark);
        margin-left: 5%;

    }
    /*****************button******************/

    .buttonBox-section-I{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 3%;
    }
    .button-section-I{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        /*color: var(--c-white);*/
        /*background-color: var(--c-green-dark);*/
        height: 64px;
        width: 187px;

    }
    /*.button-section-I:hover{*/
    /*    box-shadow: 5px 5px 15px #1d1f22;*/
    /*}*/
}
/*-------------------------Small screens, laptops-----------------------------------*/
@media screen and (min-width:  769px) and (max-width: 1024px){

/*--------------------------------Section-A-----------------------------------------*/

    .section-A-background{
        background-image: url(../media/baum_edited.webp);
        background-position: center;
        background-repeat: no-repeat;
    }

    .cms-33-desktop-screens {
        flex: calc(1 / 3);
    }

    .cms-66-desktop-screens {
        flex: calc(2 / 3);
    }

    .cms-50-laptops-screens{
        flex: .5;
    }

    .section-A-img{
        max-height: 640px;
        width: 100%;
    }

    .section-A-title-text {
        font-size: 80px;
        margin: 1%;
        color: var(--c-green-dark);

    }
    .section-A-description-text{
        font-size: 25px;
        margin: 1%;
        color: var(--c-green-dark);
    }


/*****************slider******************/

    .slider-box-general{
        margin-top: 2%;
        margin-left: 1%
    }

    .slider-img{
        width: 100%;
    }
    .slider-title-text{
        padding: 5%;
        max-height: 30px;
    }
    .slider-description-text{
        padding: 5%;
        color: var(--c-green-dark);

    }
    .slider-title-text-logo-parts{
        padding: 5%;
        max-height: 40px;
    }
/*--------------------------------Section-B-----------------------------------------*/
    .background-section-B{
        background-image: url(../media/staff_girl.webp);
        background-position: center;
        background-repeat: no-repeat;
        min-height: 400px;
        background-size:cover;
    }
    .section-B-title-text{
        font-size: 45px;
        color: var(--c-white);
        margin-left: 5%;

    }
    .section-B-description-text{
        font-size: 20px;
        color: var(--c-white);
        margin-left: 5%;

    }

/*****************button******************/

    .buttonBox-section-B{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3%;
    }
    .button-section-B{
        display: inline-block;
        text-decoration: none;
        color: var(--c-white);
        background-color: var(--c-green-dark);
        height: 64px;
        width: 187px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        trransition: all .3s ease-in-out;
    }
    .button-section-B:hover{
        box-shadow: 5px 5px 15px #1d1f22;
    }

/*--------------------------------Section-C-----------------------------------------*/
    .section-C{
        text-align: left;
        margin-top: 15%;
        padding: 0 18% 0 0%;
    }
    .background-section-C{
        background-image: url(../media/backgroundtreepack.webp);
        background-position: center;
        background-repeat: no-repeat;
        min-height: 750px;
        background-size:cover;
    }
    .section-C-title-text {
        width: 394px
    }
    .section-C-description-text{
        font-size: 20px;
        color: var(--c-green-dark);
        margin-left: 5%;
    }
    /*****************button******************/

    .buttonBox-section-C{
        display: flex;
        align-items: start;
        margin-left: 8%;
    }

    .button-section-C{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        /*color: var(--c-white);*/
        /*background-color: var(--c-green-dark);*/
        height: 64px;
        width: 187px;

    }
    /*.button-section-C:hover{*/
    /*    box-shadow: 5px 5px 15px #1d1f22;*/
    /*}*/
/*--------------------------------Section-D-----------------------------------------*/
    .section-D{
        text-align: left;
        margin-top: 15%;
        padding: 0 18% 0 0%;
    }
    .background-section-D{
        margin-top: 5%;
        background-image: url(../media/grey.webp);
        background-position: center;
        background-repeat: no-repeat;
        min-height: 650px;
        background-size:cover;
    }
    .section-D-title-text{
        font-size: 25px;
        color: var(--c-white);
        margin-left: 10%;

    }
    .section-D-description-text{
        font-size: 16px;
        color: var(--c-white);
        margin-left: 10%;
    }

    /*****************button******************/

    .buttonBox-section-D{
        display: flex;
        align-items: start;
        margin-left: 8%;
    }
    .button-section-D{
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        /*color: var(--c-white);*/
        /*background-color: var(--c-green-dark);*/
        height: 64px;
        width: 187px;
    }
    /*.button-section-D:hover{*/
    /*    box-shadow: 5px 5px 15px #1d1f22;*/
    /*}*/
/*--------------------------------Section-E-----------------------------------------*/
    .section-E{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .background-section-E {
        margin-top: 5%;
        background-image: url(../media/girs_communicate.webp);
        background-position: center;
        background-repeat: no-repeat;
        min-height: 650px;
        background-size: cover;
    }
    .section-E-title-text{
        width: 476px;
        margin-left: 5%;
        margin-top: 8%;

    }
    .section-E-description-text{
        font-size: 45px;
        color: var(--c-white);
        margin-left: 5%;

    }
    /*****************button******************/

    .buttonBox-section-E{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 3%;
    }
    .button-section-E{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        /*color: var(--c-white);*/
        /*background-color: var(--c-green-dark);*/
        height: 64px;
        width: 187px;



    }
    /*.button-section-E:hover{*/
    /*    box-shadow: 5px 5px 15px #1d1f22;*/
    /*}*/
/*--------------------------------Section-F-----------------------------------------*/
    .cms-section-F{
        display: flex;
        justify-content: center;
    }

    .cms-col-xlarge-screens {
        display: flex;
        flex-direction: column;
    }


    .section-F-general-box{
        margin-top: -7%;
        display: flex;
        justify-content: center;
    }
    .section-F-background-img {
        text-align: center;
        align-content: center;
        max-width: 300px;
        margin-left: 20%
    }

    .section-F-img-a{
        height:200px;
        width: 80%;
        margin-left: 20%
    }
    .section-F-img-b{
        height:200px;
        width: 80%;
        margin-left: 1%
    }
    .section-F-img-c{
        height:200px;
        width: 80%;
        margin-left: 20%;

    }
    .section-F-img-d{
        height:200px;
        width: 80%;
        margin-left: 1%;
    }
    .section-F-strip{
        height: 4px;
        width: 153px;
        border-radius: 5px;
        margin-left: 25%;
    }
    .section-F-title-text{
        font-size: 25px;
        text-align: center;
    }
    .section-F-description-text{
        padding: 2% 8% 0 8%;

    }
    /*****************button******************/

    .buttonBox-section-F{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 3%;
    }
    .button-section-F{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        /*color: var(--c-white);*/
        /*background-color: var(--c-green-dark);*/
        height: 42px;
        width: 115px;
        margin-bottom: 15%;
    }

    /*.button-section-F:hover{*/
    /*    box-shadow: 5px 5px 15px #1d1f22;*/
    /*}*/

    /*--------------------------------Section-G-----------------------------------------*/
    .background-section-G {
        margin-top: 5%;
        min-height: 450px;
        background-color: var(--c_green-light);
        position: relative;

    }
    /*.background-section-G-1 {*/
    /*}*/
    .background-section-G-2 {
        margin-top: 0;
    }
    .section-G-title-text {
        min-width: 358px;

    }
    .section-G-description-text {
        font-size: 16px;
        color: var(--c_color-grey);
        padding: 30px 200px 80px 80px;

    }
    .section-G-img-1 {
        margin-top: 10px;
        width: 100%;

    }
    /*****************button******************/
    .buttonBox-section-G {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 10%;
    }
    .button-section-G {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        /*color: var(--c-white);*/
        /*background-color: var(--c-green-dark);*/
        height: 64px;
        width: 187px;
        margin-left: 10%;
    }
    /*.button-section-G:hover {*/
    /*    box-shadow: 5px 5px 15px #1d1f22;*/
    /*}*/

    /*--------------------------------Section-H-----------------------------------------*/

    .background-section-H {
        margin-top: 5%;
        min-height: 750px;
        background-color: var(--c-white);

    }
    .section-H-description-text {
        font-size: 16px;
        color: var(--c_color-grey);
        padding: 0 30% 0 15%;
        margin-top: 20%;
        margin-left: 5%;
    }
    .section-H-img-1 {
        min-width: 546px;
    }
    .section-H-img-2 {
        width: 604px;
    }


    .buttonBox-section-H{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 660px;

    }
    .button-section-H {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        /*color: var(--c-white);*/
        /*background-color: var(--c-green-dark);*/
        height: 64px;
        width: 187px;
        margin-left: 20%;
    }
    /*.button-section-H:hover {*/
    /*    color: var(--c-white);*/
    /*    background-color: var(--c-green-middle-dark);*/
    /*}*/
/*--------------------------------Section-I-----------------------------------------*/

    .section-I{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .background-section-I {
        margin-top: 5%;
        background-image: url(../media/UNiForm/whater.webp);
        background-position: center;
        background-repeat: no-repeat;
        min-height: 550px;
        background-size: cover;
    }
    .background-section-I-1{
        background: var(--c-white);
        opacity: 0.8;
        min-height:280px;
        min-width: 257px;
        margin-top: 5%;
        padding: 5% 2% 5% 2%;
        margin-left: 10%;
    }
    .section-I-title-text{
        margin-left: 5%;
        color: var(--c-green-dark);
    }
    .section-I-description-text{
        font-size: 12px;
        color: var(--c-green-dark);
        margin-left: 5%;

    }
    /*****************button******************/

    .buttonBox-section-I{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 3%;
    }
    .button-section-I{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        /*color: var(--c-white);*/
        /*background-color: var(--c-green-dark);*/
        height: 64px;
        width: 187px;

    }
    /*.button-section-I:hover{*/
    /*    box-shadow: 5px 5px 15px #1d1f22;*/
    /*}*/
}
/*-------------------------iPads, Tablets-------------------------------------------*/
@media screen and (min-width:  481px) and (max-width: 768px){

/*--------------------------------Section-A-----------------------------------------*/

/*--------------------------------Section-B-----------------------------------------*/

/*--------------------------------Section-C-----------------------------------------*/

}
/*--------------------------Mobile devices------------------------------------------*/
@media screen and (min-width:  320px) and (max-width: 480px){

/*--------------------------------Section-A-----------------------------------------*/

/*--------------------------------Section-B-----------------------------------------*/
}

.opacity-50 {
    opacity: .5;
}
