

/*------------------------Extra large screens, TV-----------------------------------*/
@media screen and (min-width:  1201px) {

   /*--------------------------------Section-A-----------------------------------------*/
    .background-section-A-uniForm {
        margin-top: 5%;
        background: var(--c-grey-light-middle);
        background-position: center;
        background-repeat: no-repeat;
        min-height: 550px;
        background-size: cover;
    }

    .background-section-A-uniForm-1{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-left: 100px;

    }
    .section-C-title-text-1-uniForm {
        font-size: 80px;
        margin: 0;
        color: var(--c_green-middle--light);
        font-family: var(--c-Montserrat);
    }
    .section-C-title-text-2-uniForm {
        font-size: 80px;
        margin: 0;
        color: var(--c_green-middle--light);
        opacity: .2;
        text-decoration: line-through;
        font-family: var(--c-Montserrat);
    }
    .section-C-description-text-1-uniForm {
        font-size: 25px;
        letter-spacing: 7px;
        color: var(--c_green-middle--light);
        font-family: var(--c-Montserrat);
    }
   /*--------------------------------Section-B-----------------------------------------*/
   /*--------------------------------Section-C-----------------------------------------*/
   /*--------------------------------Section-D-----------------------------------------*/
   /*--------------------------------Section-E-----------------------------------------*/
   /*--------------------------------Section-F-----------------------------------------*/
   /*--------------------------------Section-G-----------------------------------------*/
   /*--------------------------------Section-H-----------------------------------------*/
   /*--------------------------------Section-I-----------------------------------------*/
   /*--------------------------------Section-J-----------------------------------------*/
}
/*------------------------Desktops, large screens-----------------------------------*/
@media screen and (min-width:  1025px) and (max-width: 1200px) {


    /*--------------------------------Section-A-----------------------------------------*/
    .background-section-A-uniForm {
        margin-top: 5%;
        background: var(--c-grey-light-middle);
        background-position: center;
        background-repeat: no-repeat;
        min-height: 550px;
        background-size: cover;
    }

    .background-section-A-uniForm-1{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-left: 100px;

    }
    .section-C-title-text-1-uniForm {
        font-size: 80px;
        margin: 0;
        color: var(--c_green-middle--light);
        font-family: var(--c-Montserrat);
    }
    .section-C-title-text-2-uniForm {
        font-size: 80px;
        margin: 0;
        color: var(--c_green-middle--light);
        opacity: .2;
        text-decoration: line-through;
        font-family: var(--c-Montserrat);
    }
    .section-C-description-text-1-uniForm {
        font-size: 25px;
        letter-spacing: 7px;
        color: var(--c_green-middle--light);
        font-family: var(--c-Montserrat);
    }
    /*--------------------------------Section-B-----------------------------------------*/
    /*--------------------------------Section-C-----------------------------------------*/
    /*--------------------------------Section-D-----------------------------------------*/
    /*--------------------------------Section-E-----------------------------------------*/
    /*--------------------------------Section-F-----------------------------------------*/
    /*--------------------------------Section-G-----------------------------------------*/
    /*--------------------------------Section-H-----------------------------------------*/
    /*--------------------------------Section-I-----------------------------------------*/
    /*--------------------------------Section-J-----------------------------------------*/
}
/*-------------------------Small screens, laptops-----------------------------------*/
@media screen and (min-width:  769px) and (max-width: 1024px){


    /*--------------------------------Section-A-----------------------------------------*/
    /*--------------------------------Section-B-----------------------------------------*/
    /*--------------------------------Section-C-----------------------------------------*/
    /*--------------------------------Section-D-----------------------------------------*/
    /*--------------------------------Section-E-----------------------------------------*/
    /*--------------------------------Section-F-----------------------------------------*/
    /*--------------------------------Section-G-----------------------------------------*/
    /*--------------------------------Section-H-----------------------------------------*/
    /*--------------------------------Section-I-----------------------------------------*/
    /*--------------------------------Section-J-----------------------------------------*/

/*-------------------------iPads, Tablets-------------------------------------------*/
    @media screen and (min-width:  481px) and (max-width: 768px){
        /*--------------------------------Section-A-----------------------------------------*/
        /*--------------------------------Section-B-----------------------------------------*/
        /*--------------------------------Section-C-----------------------------------------*/
        /*--------------------------------Section-D-----------------------------------------*/
        /*--------------------------------Section-E-----------------------------------------*/
        /*--------------------------------Section-F-----------------------------------------*/
        /*--------------------------------Section-G-----------------------------------------*/
        /*--------------------------------Section-H-----------------------------------------*/
        /*--------------------------------Section-I-----------------------------------------*/
        /*--------------------------------Section-J-----------------------------------------*/

    }
/*--------------------------Mobile devices------------------------------------------*/
    @media screen and (min-width:  320px) and (max-width: 480px){
        /*--------------------------------Section-A-----------------------------------------*/
        /*--------------------------------Section-B-----------------------------------------*/
        /*--------------------------------Section-C-----------------------------------------*/
        /*--------------------------------Section-D-----------------------------------------*/
        /*--------------------------------Section-E-----------------------------------------*/
        /*--------------------------------Section-F-----------------------------------------*/
        /*--------------------------------Section-G-----------------------------------------*/
        /*--------------------------------Section-H-----------------------------------------*/
        /*--------------------------------Section-I-----------------------------------------*/
        /*--------------------------------Section-J-----------------------------------------*/
    }
}