
@media screen and (min-width:  1024px){
    .background-section-D-goodConnect{
        background-image: url(../goodconnect/media/5.png);
        height: 886px;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }
    .section-D-goodConnect-1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .redLetter{
        color: darkred;
    }
    .section-D-title-text{
        font-size: 30px;
        font-family: var(--c-Montserrat);
        color: #707070;
    }
    .section-D-goodConnect-2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-D-description-text{
        font-size: 16px;
        font-family: var(--c-Montserrat);
        color: #707070;
    }
    .section-D-description-text-1{
        font-size: 16px;
        font-family: var(--c-Montserrat);
        color: #707070;
        text-wrap: normal;
    }
    .section-D-title-text-1{
        margin-top: 16px;
        font-size: 25px;
        font-family: var(--c-Montserrat);
        color: #707070;
        line-height:50px
    }
    .section-D-goodConnect-img-1{
        height: 100px;
    }
    .section-D-goodConnect-3{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 50px;
    }
    .slider_section-D{
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .button-box-section-D{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .button-section-D-services{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        height: 64px;
        width: 187px;
        border-radius: 0;
        background: #FFFFFF;
        font-family: var(--c-Montserrat);
        color: var(--c-green-middle-dark);
        font-size: 16px;
    }
}
@media screen and (min-width:  640px) and (max-width: 1023px) {
    .background-section-D-goodConnect{
        background-image: url(../goodconnect/media/5.png);
        height: 886px;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }
    .section-D-goodConnect-1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .redLetter{
        color: darkred;
    }
    .section-D-title-text{
        font-size: 30px;
        font-family: var(--c-Montserrat);
        color: #707070;
    }
    .section-D-goodConnect-2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-D-description-text{
        font-size: 16px;
        font-family: var(--c-Montserrat);
        color: #707070;
    }
    .section-D-description-text-1{
        font-size: 16px;
        font-family: var(--c-Montserrat);
        color: #707070;
        text-wrap: normal;
    }
    .section-D-title-text-1{
        margin-top: 16px;
        font-size: 25px;
        font-family: var(--c-Montserrat);
        color: #707070;
        line-height:50px
    }
    .section-D-goodConnect-img-1{
        height: 100px;
    }
    .section-D-goodConnect-3{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 50px;
    }
    .slider_section-D{
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .button-box-section-D{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .button-section-D-services{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        height: 64px;
        width: 187px;
        border-radius: 0;
        background: #FFFFFF;
        font-family: var(--c-Montserrat);
        color: var(--c-green-middle-dark);
        font-size: 16px;
    }
}
@media screen and (max-width: 639px){
    .background-section-D-goodConnect{
        background-image: url(../goodconnect/media/5.png);
        height: 886px;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }
    .section-D-goodConnect-1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .redLetter{
        color: darkred;
    }
    .section-D-title-text{
        font-size: 30px;
        font-family: var(--c-Montserrat);
        color: #707070;
    }
    .section-D-goodConnect-2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-D-description-text{
        font-size: 16px;
        font-family: var(--c-Montserrat);
        color: #707070;
    }
    .section-D-description-text-1{
        font-size: 16px;
        font-family: var(--c-Montserrat);
        color: #707070;
        text-wrap: normal;
    }
    .section-D-title-text-1{
        margin-top: 16px;
        font-size: 25px;
        font-family: var(--c-Montserrat);
        color: #707070;
        line-height:50px
    }
    .section-D-goodConnect-img-1{
        height: 100px;
    }
    .section-D-goodConnect-3{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 50px;
    }
    .slider_section-D{
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .button-box-section-D{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .button-section-D-services{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        height: 64px;
        width: 187px;
        border-radius: 0;
        background: #FFFFFF;
        font-family: var(--c-Montserrat);
        color: var(--c-green-middle-dark);
        font-size: 16px;
    }
}