
@media screen and (min-width:  1024px){

    .background-section-D-goodConnect{
        background-image: url(../goodconnect/media/5.png);
        min-height: 595px;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }

    .section-D-goodConnect{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-D-goodConnect-1{
        display: flex;
        align-items: center;
        text-align: start;
        justify-content: center;
        margin: 20px auto;
    }
.section-D-title-text{
 font-family: var(--c-Montserrat);
    font-size: 30px;
    color: #707070;
}
    .redLetter{
color: darkred;
    }
    .section-D-description-text{
        font-family: var(--c-Montserrat);
        font-size: 16px;
        color: #707070;
        text-align: start;
        margin-top: 20px;
        line-height: 30px;
    }
    .sector-D-title-text-1{
        font-family: var(--c-Montserrat);
        font-size: 16px;
        color: #707070;
    }
    .sector-D-description-text-1{
        font-family: var(--c-Montserrat);
        font-size: 16px;
        color: #707070;
        text-wrap: normal;
    }
    .section-D-img{
        height: 65px;
        text-align: start;
        margin-right: 15px;
    }
.margin-left{
    margin-left: 43px;
}
    .margin-left2{
        margin-left: 50px;
    }
}
@media screen and (min-width:  640px) and (max-width: 1023px) {

    .cms-row-laptop-screens{
        flex-direction: column;
    }

    .background-section-D-goodConnect{
        background-image: url(../goodconnect/media/5.png);
        min-height: 595px;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }

    .section-D-goodConnect{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-D-goodConnect-1{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .section-D-title-text{
        font-family: var(--c-Montserrat);
        font-size: 30px;
        color: #707070;
    }
    .redLetter{
        color: darkred;
    }
    .section-D-description-text{
        font-family: var(--c-Montserrat);
        font-size: 16px;
        color: #707070;
        text-wrap: normal;
        margin-top: 20px;
        line-height: 30px;
    }
    .sector-D-title-text-1{
        text-wrap: normal;
        font-family: var(--c-Montserrat);
        font-size: 16px;
        color: #707070;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    .sector-D-description-text-1{
        font-family: var(--c-Montserrat);
        font-size: 16px;
        color: #707070;
        text-wrap: normal;
    }
    .section-D-img{
        height: 65px;
        text-align: start;

    }

}
@media screen and (max-width: 639px){
    .cms-row-laptop-screens{
        flex-direction: column;
    }

    .background-section-D-goodConnect{
        background-image: url(../goodconnect/media/5.png);
        min-height: 595px;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }

    .section-D-goodConnect{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-D-goodConnect-1{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .section-D-title-text{
        font-family: var(--c-Montserrat);
        font-size: 30px;
        color: #707070;
        text-align: center;
    }
    .redLetter{
        color: darkred;
    }
    .section-D-description-text{
        font-family: var(--c-Montserrat);
        font-size: 16px;
        color: #707070;
        text-wrap: normal;
        margin-top: 20px;
        line-height: 30px;
    }
    .sector-D-title-text-1{
        text-wrap: normal;
        font-family: var(--c-Montserrat);
        font-size: 16px;
        color: #707070;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    .sector-D-description-text-1{
        font-family: var(--c-Montserrat);
        font-size: 16px;
        color: #707070;
        text-wrap: normal;
    }
    .section-D-img{
        height: 65px;
        text-align: start;

    }

}