
@media screen and (min-width:  1024px){
    .background-section-C-goodConnect{
        background-color: rgb(233 161 161);

    }
    .section-C-goodConnect{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
@media screen and (min-width:  640px) and (max-width: 1023px) {
    .background-section-C-goodConnect{
        background-color: rgb(233 161 161);

    }

    .section-C-goodConnect-img-1{
        width: 80%;
    }
    .section-C-goodConnect-1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-C-goodConnect{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 639px){

    .background-section-C-goodConnect{
        background-color: rgb(233 161 161);

    }

    .section-C-goodConnect-img-1{
        width: 80%;
    }
    .section-C-goodConnect-1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-C-goodConnect{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}