
@media screen and (min-width:  1024px){

    .wrapper{
        flex-wrap: wrap;
    }

    .background-section-E-goodConnect{
        margin-top: 30px;
        background-color: rgb(233 161 161);
        min-height: 700px;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-E-goodConnect{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-E-goodConnect-2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
    }
    .section-E-goodConnect-2-a{
        height: 171px;
    }
    .section-E-goodConnect-2-b{
        height: 171px;
    }
    .section-E-goodConnect-img-1{
        margin-top: 58px;
        min-height: 207px;
    }
    .section-E-goodConnect-img-2{
        margin-top: 50px;
        min-height: 207px;
    }
    .section-E-title-text{
        margin-top: 80px;
        font-size: 25px;
        font-family: var(--c-Montserrat);
        color: #707070;
        line-height:50px;
        word-spacing:10px;
    }
    .section-E-goodConnect-3{
        margin-top: 50px;
    }

    .button-section-E-goodConnect{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        height: 64px;
        width: 187px;
        border-radius: 0;
        background: #616363;
        font-family: var(--c-Montserrat);
        color: var(--c-white);
        font-size: 16px;
    }


}
@media screen and (min-width:  640px) and (max-width: 1023px) {
    .wrapper{
        flex-wrap: wrap;
    }

    .background-section-E-goodConnect{
        margin-top: 50px;
        background-color: rgb(233 161 161);
        max-height: 700px;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-E-goodConnect{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-E-goodConnect-2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
    }
    .section-E-goodConnect-2-a{
        height: 171px;
    }
    .section-E-goodConnect-2-b{
        height: 171px;
    }
    .section-E-goodConnect-img-1{
        margin-top: 58px;
        height: 207px;
    }
    .section-E-goodConnect-img-2{
        margin-top: 50px;
        height: 207px;
    }
    .section-E-title-text{
        margin-top: 80px;
        font-size: 25px;
        font-family: var(--c-Montserrat);
        color: #707070;
        line-height:50px;
        word-spacing:10px;
    }
    .section-E-goodConnect-3{
        margin-top: 50px;
    }
    .button-section-E-goodConnect{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        height: 64px;
        width: 187px;
        border-radius: 0;
        background: #616363;
        font-family: var(--c-Montserrat);
        color: var(--c-white);
        font-size: 16px;
    }

}
@media screen and (max-width: 639px){
    .wrapper{
        flex-wrap: wrap;
    }

    .background-section-E-goodConnect{
        margin-top: 30px;
        background-color: rgb(233 161 161);
        height: 700px;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-E-goodConnect{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-E-goodConnect-2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
    }
    .section-E-goodConnect-2-a{
        height: 171px;
    }
    .section-E-goodConnect-2-b{
        height: 171px;
    }
    .section-E-goodConnect-img-1{
        margin-top: 58px;
        height: 207px;
    }
    .section-E-goodConnect-img-2{
        margin-top: 50px;
        height: 207px;
    }
    .section-E-title-text{
        margin-top: 80px;
        font-size: 25px;
        font-family: var(--c-Montserrat);
        color: #707070;
        line-height:50px;
        word-spacing:10px;
    }
    .section-E-goodConnect-3{
        margin-top: 50px;
    }
    .button-section-E-goodConnect{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        height: 64px;
        width: 187px;
        border-radius: 0;
        background: #616363;
        font-family: var(--c-Montserrat);
        color: var(--c-white);
        font-size: 16px;
    }

}