
:root {

/*---------------------General-color-----------------------------*/
    --_c-goodbioncs-primary: #58726a;
    --_c-goodbioncs-primary-base: 88,114,106;
    --_c-goodbioncs-primary-lighten: #a8bbb5;
    --_c-goodbioncs-primary-darken: #465b54;
    --_c-goodbioncs-secondary: #a9b9b4;
    --_c-goodbioncs-secondary-base: 169,185,180;
    --_c-goodbioncs-secondary-lighten: #bac6c3a;
    --_c-goodbioncs-secondary-darken: #4f615b;

    --_c-goodbioncs-connect-text: rgb(139, 0, 0);
    --_c-goodbioncs-connect-bg: rgb(255, 243, 243);

    --_c-goodbioncs-design-text: rgb(88, 120, 164);
    --_c-goodbioncs-design-bg: rgb(229, 235, 242);

    --_c-goodbioncs-mill-text: rgb(54, 117, 58);
    --_c-goodbioncs-mill-bg: rgb(245, 255, 247);

    --_c-goodbioncs-print-text: rgb(137, 138, 138);
    --_c-goodbioncs-print-bg: rgb(243, 242, 242);


    --c-primary: var(--_c-goodbioncs-primary) !important;
    --c-primary-base: var(--_c-goodbioncs-primary-base) !important;
    --c-primary-lighten: var(--_c-goodbioncs-primary-lighten) !important;
    --c-primary-darken: var(--_c-goodbioncs-primary-darken) !important;
    --c-primary-variant: var(--_c-goodbioncs-secondary) !important;

    --c-success: var(--_c-goodbioncs-primary) !important;
    --c-success-base: var(--_c-goodbioncs-primary-base) !important;
    --c-success-lighten: var(--_c-goodbioncs-primary-lighten) !important;
    --c-success-darken: var(--_c-goodbioncs-primary-darken) !important;
    --c-success-variant: var(--_c-goodbioncs-secondary) !important;

/*------------------font-family---------------------------*/

    --c_font-Montserrat: "Montserrat";
    --c-Montserrat: var(--c_font-Montserrat);

    --c_LittleMissPriss: "LittleMissPriss";
    --c-LittleMissPriss:var(--c_LittleMissPriss);

/*---------------------cms-color-----------------------------*/
    --c_color-white:#FFFFFF;
    --c-white:var(--c_color-white);

    --c_color-red:#8B0000;
    --c-red:var(--c_color-red);

    --c_color-blue:#5878a4;
    --c-blue:var(--c_color-blue);

    --c_color-green-light:#628C67;
    --c-green-light:var(--c_color-green-light);

    --c_color-green-middle:#999E65;
    --c-green-middle:var(--c_color-green-middle);

    --c_color-green-middle-dark:#1f5125;
    --c-green-middle-dark:var(--c_color-green-middle-dark);

    --c_green-middle--light:#3f6b62;
    --c-green-middle-light: var(--c_green-middle--light);

    --c_color-green-dark:#58726A;
    --c-green-dark:var(--c_color-green-dark);

    --c_color-green-light-dark:#9fb0ac;
    --c_green-light:var(--c_color-green-light-dark);

    --c_color-grey:#898A8A;
    --c-grey:var(--c_color-grey);

    --с-light-grey-dark: #d3d3d3;
    --c-light-grey:var(--с-light-grey-dark);


    --c_color-grey-dark: #787879;
    --c-grey-dark: var(--c_color-grey-dark);

    --c_color-light-middle-grey:#f3f2f2;
    --c-grey-light-middle: var(--c_color-light-middle-grey);

}



