
:root{

/*------------------font-family---------------------------*/

    --c_font-Montserrat: "Montserrat";
    --c-Montserrat: var(--c_font-Montserrat);

    --c_LittleMissPriss:"LittleMissPriss";
    --c-LittleMissPriss:var(--c_LittleMissPriss);

/*----------------------color-----------------------------*/
    --c_color-white:#FFFFFF;
    --c-white:var(--c_color-white);

    --c_color-red:#8B0000;
    --c-red:var(--c_color-red);

    --c_color-blue:#5878a4;
    --c-blue:var(--c_color-blue);

    --c_color-green-light:#628C67;
    --c-green-light:var(--c_color-green-light);

    --c_color-green-middle:#999E65;
    --c-green-middle:var(--c_color-green-middle);

    --c_color-green-middle-dark:#1f5125;
    --c-green-middle-dark:var(--c_color-green-middle-dark);

    --c_green-middle--light:#3f6b62;
    --c-green-middle-light: var(--c_green-middle--light);

    --c_color-green-dark:#58726A;
    --c-green-dark:var(--c_color-green-dark);

    --c_color-green-light-dark:#9fb0ac;
    --c_green-light:var(--c_color-green-light-dark);

    --c_color-grey:#898A8A;
    --c-grey:var(--c_color-grey);

    --с-light-grey-dark: #d3d3d3;
    --c-light-grey:var(--с-light-grey-dark);


    --c_color-grey-dark: #787879;
    --c-grey-dark: var(--c_color-grey-dark);

    --c_color-light-middle-grey:#f3f2f2;
    --c-grey-light-middle: var(--c_color-light-middle-grey);


}



