/*--------------------------------Section-F-----------------------------------------*/
@media screen and (min-width: 1024px){

    .cms-row + .cms-row {
        margin-top: 0;
    }

    .wrapper{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    .section-F-general-box{
        margin-top: -65px;
    }
    .section-F-background-img-a {
        margin-left: 10px;
        text-align: center;
        align-content: center;
        width: 300px;
        height: 550px;
    }
    .section-F-background-img-b {
        margin-left: 10px;
        text-align: center;
        align-content: center;
        width: 300px;
        height: 550px;

    }

    .section-F-img-a{
       max-width: 180px;
        margin: 0 0 0 auto;

    }
    .section-F-img-b{
        max-width: 180px;
    }
    .section-F-img-c{
        max-width: 160px;
        margin: 0 0 0 auto;

    }
    .section-F-img-d{
        max-width: 180px;

    }
    .section-F-strip{
        height: 4px;
        width: 150px;
        border-radius: 5px;
        margin-left: 75px;

    }
    .section-F-title-text{
        font-size: 25px;
        text-align: center;
        margin-top: auto;
    }
    .section-F-description-text{
        padding: 20px 20px 0 18px;

    }
    /*****************button******************/

    .buttonBox-section-F{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .button-section-F{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        height: 42px;
        width: 150px;
    }
}
@media screen and (min-width:  640px) and (max-width: 1023px) {

    .cms-row + .cms-row {
        margin-top: 1rem;
    }
    .wrapper{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;

    }
    .section-F-general-box{
        margin-top: -7%;
    }
    .section-F-background-img-a {
        margin-left: 10px;
        text-align: center;
        align-content: center;
        max-width: 300px;

    }
    .section-F-background-img-b {
        margin-left: 10px;
        text-align: center;
        align-content: center;
        max-width: 300px;
    }

    .section-F-img-a{
        max-width: 180px;
        margin: 0 0 0 auto;

    }
    .section-F-img-b{
        max-width: 180px;
    }
    .section-F-img-c{
        max-width: 160px;
        margin: 0 0 0 auto;

    }
    .section-F-img-d{
        max-width: 180px;
    }
    .section-F-strip{
        height: 4px;
        width: 150px;
        border-radius: 5px;
        margin-left: 75px;

    }
    .section-F-title-text{
        font-size: 25px;
        text-align: center;

    }
    .section-F-description-text{
        padding: 2% 8% 0 8%;

    }
    /*****************button******************/

    .buttonBox-section-F{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 3%;
    }
    .button-section-F{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        height: 42px;
        width: 150px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 639px){
    .cms-row {
        flex-direction: row;
    }
    .cms-row + .cms-row {
        margin-top: 0;
    }

    .section-F-general-box .cms-row .cms-col img {
        max-width: 150px;
    }

    .section-F-general-box .cms-row .cms-col h3 {
        font-size: 20px;
    }

    .wrapper{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    .section-F-general-box {
        margin-top: -7%;
    }

    .section-F-background-img-a {
        margin-left: 10px;
        text-align: center;
        align-content: center;
    }

    .section-F-background-img-b {
        margin-left: 10px;
        text-align: center;
        align-content: center;
        max-width: 300px;
    }

    .section-F-img-a{
        margin-left: auto;
        max-width: 180px;
    }
    .section-F-img-b{

    }
    .section-F-img-c{
        margin-left: auto;
    }

    .section-F-img-d{
        height: 150px;
    }

    .section-F-strip{
        height: 4px;
        width: 150px;
        border-radius: 5px;
        margin: 0 auto;
    }

    .section-F-title-text{
        font-size: 25px;
        text-align: center;
    }
    .section-F-description-text{
        padding: 2% 8% 0 8%;

    }
    /*****************button******************/

    .buttonBox-section-F{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 3%;
    }
    .button-section-F{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        height: 42px;
        width: 150px;
        margin-bottom: 20px;
    }
}