/*--------------------------------Section-D-----------------------------------------*/
@media screen and (min-width:  1024px){

    .cms-33-xlarge-screens{
        flex: .33;
    }
    .cms-66-xlarge-screens{
        flex: .66;
    }

    .section-D{
        text-align: left;
        margin-top: 50px;

    }
    .background-section-D{
        margin-top: 40px;
        background-image: url(../../media/grey.webp);
        background-position: center;
        background-repeat: no-repeat;
        min-height: 650px;
        background-size:cover;
    }
    .section-D-title-text{
        font-size: 40px;
        color: var(--c-white);
        margin-left: 80px;

    }
    .section-D-description-text{
        font-size: 16px;
        color: var(--c-white);
        margin-left: 80px;
    }

    /*****************button******************/

    .buttonBox-section-D{
        display: flex;
        align-items: start;
        margin-left: 80px;
    }
    .button-section-D {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
}

@media screen and (min-width:  640px) and (max-width: 1023px) {
    .section-D{
        text-align: left;
        margin-top: 15%;
        padding: 0 18% 0 0%;
    }
    .background-section-D{
        margin-top: 5%;
        background-image: url(../../media/grey.webp);
        background-position: center;
        background-repeat: no-repeat;
        min-height: 650px;
        background-size:cover;
    }
    .section-D-title-text{
        font-size: 30px;
        color: var(--c-white);
        margin-left: 200px;

    }
    .section-D-description-text{
        font-size: 16px;
        color: var(--c-white);
        margin-left: 200px;
    }
    /*****************button******************/

    .buttonBox-section-D{
        display: flex;
        align-items: start;
        margin-left: 200px;
    }
    .button-section-D {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
}

@media screen and (max-width: 639px){
    .section-D{
        text-align: left;
        margin-top: 25px;
        padding: 15px;
        display: flex;

    }
    .background-section-D{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-content: center;
        background-image: url(../../media/grey_2.png);
        background-position: center;
        background-repeat: no-repeat;
        min-height: 600px;
        background-size:cover;
    }
    .section-D-title-text{
        font-size: 20px;
        color: var(--c-white);


    }
    .section-D-description-text{
        font-size: 16px;
        color: var(--c-white);


    }

    /*****************button******************/

    .buttonBox-section-D{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .button-section-D {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
}