@media screen and (min-width: 1024px){

    .cms-row + .cms-row {
        margin-top: 0;
    }

    .wrapper{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    .section-F-general-box-services{
    }
    .section-F-background-img-a-services {
        margin-left: 10px;
        text-align: center;
        align-content: center;
        width: 300px;
        height: 550px;
    }
    .section-F-background-img-b-services {
        margin-left: 10px;
        text-align: center;
        align-content: center;
        width: 300px;
        height: 550px;
    }

    .section-F-img-a-services{
        max-width: 190px;
        margin: 0 0 0 auto;
    }
    .section-F-img-b-services{
        max-width: 190px;
        margin: 8px 0 0 0;
    }
    .section-F-img-c-services{
        max-width: 180px;
        margin: 0 0 0 auto;

    }
    .section-F-img-d-services{
        max-width: 200px;
    }
    .section-F-strip-services{
        height: 4px;
        width: 150px;
        border-radius: 5px;
        margin-left: 75px;

    }
    .section-F-title-text-services{
        font-size: 25px;
        text-align: center;
        font-family: var(--c_font-Montserrat);
    }
    .section-F-description-text-services{
        padding: 20px 20px 0 18px;
        font-family: var(--c_font-Montserrat);

    }
    /*****************button******************/

    .buttonBox-section-F-services{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .button-section-F-services{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        height: 42px;
        width: 150px;
        color: var(--c-green-middle-dark);
        font-family: var(--c_font-Montserrat);
    }
}
@media screen and (min-width:  640px) and (max-width: 1023px) {

    .cms-row + .cms-row {
        margin-top: 1rem;
    }
    .wrapper{

        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    .section-F-general-box-services{
        margin-top: -7%;
    }
    .section-F-background-img-a-services {
        margin-left: 10px;
        text-align: center;
        align-content: center;
        max-width: 300px;

    }
    .section-F-background-img-b-services {
        margin-left: 10px;
        text-align: center;
        align-content: center;
        max-width: 300px;
    }

    .section-F-img-a-services{
        max-width: 200px;
        margin: 0 0 0 auto;

    }
    .section-F-img-b-services{
        max-width: 200px;
        margin: 8px 0 0 0;
    }
    .section-F-img-c-services{
        max-width: 180px;
        margin: 0 0 0 auto;

    }
    .section-F-img-d-services{
        max-width: 200px;

    }
    .section-F-strip-services{
        height: 4px;
        width: 150px;
        border-radius: 5px;
        margin-left: 75px;

    }
    .section-F-title-text-services{
        font-size: 25px;
        text-align: center;
        font-family: var(--c_font-Montserrat);
    }
    .section-F-description-text-services{
        padding: 20px 20px 0 18px;
        font-family: var(--c_font-Montserrat);

    }
    /*****************button******************/

    .buttonBox-section-F-services{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .button-section-F-services{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        height: 42px;
        width: 150px;
        color: var(--c-green-middle-dark);
        font-family: var(--c_font-Montserrat);
    }
}
@media screen and (max-width: 639px){
    .cms-row + .cms-row {
        margin-top: 0;
    }

    .cms-row-mobile-devises{
        flex-direction: row;
    }

    .section-F-general-box-services .cms-row .cms-col img {
        max-width: 150px;
    }

    .section-F-general-box-services .cms-row .cms-col h3 {
        font-size: 20px;
    }

    .wrapper{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
    .section-F-general-box-services{
        margin-top: -7%;
    }
    .section-F-background-img-a-services {
        margin-left: 10px;
        text-align: center;
        align-content: center;

    }
    .section-F-background-img-b-services {
        margin-left: 10px;
        text-align: center;
        align-content: center;
        max-width: 300px;
    }

    .section-F-img-a-services{
        margin-left: auto;
    }
    .section-F-img-b-services{
        margin: 6px 0 0 0;
    }
    .section-F-img-c-services{
        margin-left: auto;
    }
    .section-F-img-d-services{
        height: 150px;
    }
    .section-F-strip-services{
        height: 4px;
        width: 50%;
        border-radius: 5px;
        margin: 0 auto;


    }
    .section-F-title-text-services{
        font-size: 25px;
        text-align: center;
        font-family: var(--c_font-Montserrat);
    }
    .section-F-description-text-services{
        padding: 2% 8% 0 8%;
        font-family: var(--c_font-Montserrat);

    }
    /*****************button******************/

    .buttonBox-section-F-services{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 3%;

    }
    .button-section-F-services{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        height: 42px;
        width: 150px;
        margin-bottom: 20px;
        color: var(--c-green-middle-dark);
        font-family: var(--c_font-Montserrat);
    }
}