
@media screen and (min-width:  1024px){

    .section-C-goodServices{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-C-title-text-1-goodServices{
        font-size: 25px;
        font-family: var(--c-Montserrat);
        color: #707070;
        margin: 0;
        letter-spacing:10px;
    }
}
@media screen and (min-width:  640px) and (max-width: 1023px) {
    .section-C-goodServices{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-C-title-text-1-goodServices{
        font-size: 25px;
        font-family: var(--c-Montserrat);
        color: #707070;
        margin: 0;
        letter-spacing:10px;
    }
}
@media screen and (max-width: 639px){
    .section-C-goodServices{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    .section-C-title-text-1-goodServices{
        font-size: 25px;
        font-family: var(--c-Montserrat);
        color: #707070;
        text-wrap: normal;
        text-align: center;


        letter-spacing:10px;
    }
}
